---
import { marked } from 'marked';

import BaseHead from "$/components/BaseHead.astro";
import Icon from '$/components/Icon.astro';
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";
import { getJwtTokenForLogin, getMemberIdFromCookie } from "$/lib/auth";
import { sql } from "$/lib/db";
import { getMemberEmailField, sendMail } from '$/lib/email';
import type { Member } from "$/types/db";

const memberId = getMemberIdFromCookie(Astro.request.headers.get('cookie'))
const member = memberId != null ? (await sql<Member[]>`SELECT * FROM members WHERE id = ${memberId}`).pop() : undefined

if (!member || Astro.request.method.toUpperCase() !== 'POST') {
	return Astro.redirect('/profile')
}

const token = getJwtTokenForLogin({ email: member.email, hash: member.hash || '' })

const text = `
## Terveisiä Mellonista!

Olet unohtanut salasanasi ja pyysit itsellesi vaihtolinkin:
${new URL(`/profile/update/password/${token}`, Astro.request.url)}

Voit jättää tämän viestin huomiotta jos et pyytänyt linkkiä. Vaikka olisit unohtanut itsesi Melloniin kirjautuneeksi
julkisella koneella, niin tunnuksesi on turvassa niin kauan aikaa kun sähköpostiisi ei ole pääsyä ja salasanasi ei ole
paljastunut.
`

sendMail({
	to: getMemberEmailField(member),
	subject: 'Linkki salasanan vaihtamiseksi',
	text,
	html: marked.parse(text),
})

Astro.response.headers.set('Cache-Control', 'no-cache')
Astro.response.headers.set('X-Robots-Tag', 'noindex')

---

<html lang="fi">

<BaseHead title="Unohtunut salasana" description="Salasanan vaihtolinkki on lähetetty sähköpostiin!" />

<body>
	<PageHeader />

	<main id="main">
		<h1>Vaihtolinkki lähetetty!</h1>
		<p>Linkki on lähetetty sähköpostiisi ja viestin pitäisi saapua tuokion kuluttua.</p>
		<p>
			<a class="button" href="/profile">
				<Icon href="/icons/arrow-left.svg" />
				Takaisin omiin tietoihin
			</a>
		</p>
	</main>

	<PageFooter />
</body>

</html>
