---
import BaseHead from "$/components/BaseHead.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";
import { getJwtPayload, getMemberIdFromCookie, getLoginCookie, getLoginCookieToken, getClearCookie } from "$/lib/auth";
import { sql } from "$/lib/db";
import type { Member } from "$/types/db";

const cookie = Astro.request.headers.get('cookie')

const loginToken = getLoginCookieToken(cookie)
const memberId = getMemberIdFromCookie(cookie)

if (memberId != null) {
	const response = Astro.redirect('/profile')
	if (loginToken) {
		response.headers.set('Set-Cookie', getClearCookie('login'))
	}
	return response
}

const payload = loginToken && getJwtPayload(loginToken)
if (!payload || typeof payload.email !== 'string') {
	return Astro.redirect('/profile')
}

const member = (await sql<Member[]>`SELECT * FROM members WHERE email = ${payload.email}`).pop()
if (member) {
	return Astro.redirect('/profile')
}

const dialog = new URL(Astro.request.url).searchParams.get('dialog')

Astro.response.headers.set('Cache-Control', 'no-cache')
Astro.response.headers.set('X-Robots-Tag', 'noindex')

---

<html lang="fi">

<BaseHead title="Rekisteröityminen Melloniin" description="Yllätys! Tällä sivulla tehdään tunnus." />

<body>
	<PageHeader />
	<main id="main">
		{dialog === 'create-user-failed' && <div>Tunnuksen luomisessa tapahtui tuntematon virhe.</div>}
		{dialog === 'invalid-data' && <div>Tarkista että syöttämäsi tiedot ovat kohdillaan, kaikki vaaditut kentät on
			annettu, ja että salasanat täsmäävät.</div>}
		{dialog === 'password-failure' && <div>Tunnusta luotaessa tapahtui virhe salasanan käsittelyssä. Yritä
			uudelleen.</div>}
		<h1>Ensimmäinen kirjautuminen</h1>
		<p>Tarvitsemme jonkin verran pakollisia tietoja, jotta tapahtumien järjestäminen olisi sujuvaa.</p>
		<form action="/profile/complete-register-by-email" method="POST">
			<p class="form-field">
				<label>Julkinen nimi / nimimerkki: <input id="publicname" name="publicname"
						placeholder="Nimi ilmoittautumislistalla" required type="text" value={payload.publicname || '' }
						autocomplete="nickname" /></label>
				<small>Pakollinen. Ilmoittautumislistalla näkyvä nimi, kuten nimimerkki, kutsumanimi tai oikea
					etunimi.</small>
			</p>
			<p class="form-field">
				<label>Etu- ja sukunimi: <input id="fullname" name="fullname" placeholder="Oikea nimesi" required
						type="text" value={payload.fullname || '' } autocomplete="name" /></label>
				<small>Pakollinen. Tapahtuman järjestäjä saa tietää nimesi.</small>
			</p>
			<p class="form-field">
				<label>Syntymäpäivä muotoa VVVV-KK-PP: <input id="dob" name="dob" placeholder="2001-12-19" required
						type="text" value={payload.dob || '' }
						pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" autocomplete="off" /></label>
				<small>Pakollinen. Esimerkki: 2001-12-19. Järjestäjä saa tietää ikäsi tapahtuman alkaessa, mutta ei
					syntymäpäivääsi.</small>
			</p>
			<p class="form-field">
				<label>Puhelinnumero: <input id="phone" name="phone" placeholder="+358401234567" type="tel"
						value={payload.phone || '' } autocomplete="tel" /></label>
				<small>Esimerkiksi +358401234567. Puhelinnumero paljastetaan ainoastaan tapahtuman
					järjestäjälle.</small>
			</p>
			<hr />
			<p class="form-field">
				<label>Sähköposti: <input readonly type="email" id="email" name="email" value={payload.email}
						autocomplete="email" /></label>
			</p>
			<p class="form-field">
				<label>Salasana: <input id="password" type="password" name="password" required value={payload.password
						|| '' } autocomplete="new-password" minlength={8} /></label>
				<small>
					Vinkki: hyvä salasana on pitkä helposti muistettava lause.<br />
					Esimerkki: örkiltä putosi pöksyt ja nyt minun pitää silittää ne
				</small>
			</p>
			<p class="form-field">
				<label>Vahvista salasana: <input id="confirmPassword" type="password" name="confirmPassword" required
						value={payload.confirmPassword || '' } autocomplete="new-password" minlength={8} /></label>
				<small>Kirjoita salasana uudelleen.</small>
			</p>
			<p>
				<button type="submit">Luo tunnus ja kirjaudu</button>
			</p>
		</form>
	</main>
	<PageFooter />
</body>

</html>
