---
import BaseHead from "$/components/BaseHead.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";

Astro.response.status = 401
Astro.response.statusText = 'Not Authenticated'
Astro.response.headers.set('Cache-Control', 'private, max-age=60')
Astro.response.headers.set('X-Robots-Tag', 'noindex')

---

<html lang="fi">

<BaseHead title="Passi puuttuu! | Mellon" description="Hankalahan sitä on sivua näyttää jos paperit puuttuu!" />

<body>
	<PageHeader />

	<main id="main">
		<h1>Passi puuttuu!</h1>
		<p>Semmoinen juttu että jos tälle sivulle aiot tulla, niin ensin pitäisi näyttää papereita. Eli siis <a
				href="/profile">kirjaudu sisään</a>!</p>
		<img loading="lazy" lang="en" alt="You shall not pass!" src="/assets/you-shall-not-pass.jpg" width="1341" height="754" />
	</main>

	<PageFooter />
</body>

</html>
