---
import BaseHead from "$/components/BaseHead.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";

Astro.response.status = 403
Astro.response.statusText = 'Not Authorized'
Astro.response.headers.set('Cache-Control', 'private, max-age=60')
Astro.response.headers.set('X-Robots-Tag', 'noindex')

---

<html lang="fi">

<BaseHead title="Uupuvat oikeudet! | Mellon"
	description="Hankalahan sitä on sivua näyttää jos et lupia ole kysellyt!" />

<body>
	<PageHeader />

	<main id="main">
		<h1>Uupuvat oikeudet!</h1>
		<p>Ei taida olla nyt lupa-asiat kunnossa! Käy utelemassa oikeuksia, jotta tänne pääsisit.</p>
		<img loading="lazy" alt="You shall not pass!" src="/assets/you-shall-not-pass.jpg" width="1341" height="754" />
	</main>

	<PageFooter />
</body>

</html>
