---
import BaseHead from "$/components/BaseHead.astro";
import Fellowship from "$/components/Fellowship.astro";
import PageFooter from "$/components/PageFooter.astro";
import PageHeader from "$/components/PageHeader.astro";


---

<html lang="fi">

<BaseHead title="Sivua ei löytynyt | Mellon"
	description="Hankalahan sitä on sivua näyttää jos osoite on päin honkia!" />

<body>
	<PageHeader />

	<main>
		<h1>Sivua ei löydy!</h1>
		<p>Taisi tulla semmoinen eksyminen nyt väärään paikkaan.</p>
	</main>

	<Fellowship />

	<PageFooter />
</body>

</html>
