---
import Icon from "./Icon.astro";

export interface Props {
	links: BreadcrumbLink[]
}

export type BreadcrumbLink = {
	href?: string,
	title: string,
}

const { links } = Astro.props

---

{links.length > 0 && <div class="breadcrumbs-container">
	<nav class="breadcrumbs">
		<ol class="breadcrumbs-list" itemscope itemtype="https://schema.org/BreadcrumbList">
			{links.map(({ href, title }: BreadcrumbLink, index: number) =>
			<li class="breadcrumbs-list-item" itemprop="itemListElement" itemscope
				itemtype="https://schema.org/ListItem">

				{index === 0 &&
				<Icon href="/icons/home-1.svg" /> }

				{href != null
				? <a href={href} itemprop="item"><span itemprop="name">{title}</span></a>
				: <span itemprop="name">{title}</span>}

				<meta itemprop="position" content={`${index + 1}`} />
			</li>
			)}
		</ol>
	</nav>
	<slot />
</div>
}
<style>
	.breadcrumbs-container {
		background-color: var(--bg-light-color);
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5) 4px, rgba(255, 255, 255, 0) 50%);
		border-bottom: thin solid var(--border-color);
		box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.0625), 0 1px 1em rgba(0, 0, 0, 0.0625);
		position: relative;
		text-align: center;
	}

	.breadcrumbs-container::before {
		background: url('/assets/noise.png');
		background-position: center;
		background-repeat: repeat;
		content: '';
		inset: 0;
		opacity: 0.375;
		pointer-events: none;
		position: absolute;
	}

	.breadcrumbs {
		--link-color: black;
		margin: 0 auto;
		max-width: 70rem;
		padding: 0.5rem 0.5rem;
		text-align: left;
	}

	.breadcrumbs-list {
		margin: 0;
		list-style: none;
		padding: 0;
	}

	.breadcrumbs-list-item {
		align-items: center;
		display: inline-flex;
		margin: 0;
	}

	.breadcrumbs-list-item:last-of-type {
		font-weight: bold;
	}

	.breadcrumbs-list-item>:global(:is(a, span)) {
		display: inline-block;
		padding: 0.25rem 0.5rem;
	}

	.breadcrumbs-list-item> :global(svg) {
		transform: translateX(0.125rem);
	}

	.breadcrumbs-list-item:not(:first-child)>:global(:is(a, span)::before) {
		color: var(--border-color);
		content: '➤';
		display: inline-block;
		margin-right: 0.5rem;
		-webkit-text-stroke: 1px black;
		text-decoration: none;
	}

	@media not all and (min-width: 70em) {
		.breadcrumbs-container {
			font-size: 0.875rem;
		}

		.breadcrumbs {
			border-inline-width: 0;
			direction: rtl;
			display: flex;
			overflow: auto;
			overflow-y: hidden;
			width: 100%;
			-webkit-overflow-scrolling: touch;
		}

		.breadcrumbs-list {
			display: inline-block;
			direction: ltr;
			margin-right: auto;
			white-space: nowrap;
		}
	}
</style>
