---
import Icon from "./Icon.astro";

export interface Props {
	meetupId: number
}

const { meetupId } = Astro.props

---

<div class="horizontally-scrollable">
	<nav class="organizer">
		<strong>Hallinnoi:</strong>
		<a class="button button-alt2" href={`/meetups/edit/${meetupId}`}>
			<Icon href="/icons/edit-1.svg" size={1.25} />
			Tiedot
		</a>
		<a class="button button-alt2" href={`/meetups/participants/${meetupId}`} title="Osallistujat ja j채rjest채j채t">
			<Icon href="/icons/users-more.svg" size={1.25} />
			Osallistujat
		</a>
		<a class="button button-alt2" href={`/meetups/messages/${meetupId}`}>
			<Icon href="/icons/mail.svg" size={1.25} />
			Viestint채
		</a>
	</nav>
</div>
<style>
	.horizontally-scrollable {
		background-color: var(--link-color);
		background-image:
			linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)),
			radial-gradient(circle at 0%, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
		border-top: thin solid var(--border-color);
		box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.25);
	}

	.organizer {
		align-items: center;
		color: white;
		display: inline-flex;
		font-size: 0.875rem;
		gap: 0.5rem;
		justify-content: flex-end;
		max-width: 70rem;
		min-width: max-content;
		padding: 0.5rem;
		text-shadow: 0 0 0.25rem black;
		white-space: nowrap;
		width: 100%;
	}

	.organizer .button {
		font-size: 0.875rem;
		min-width: 0;
		padding: 0.5rem 1rem;
	}

	.organizer .button :global(svg) {
		width: 1.25rem;
	}
</style>
