---

---

<footer>
	<p>
		<a href={Astro.site}>Mellon</a> 2017 &ndash; {new Date().getUTCFullYear()} <a href="https://merri.net"
			hreflang="en">Vesa Piittinen</a>
	</p>
	<p>
		Lähdekoodi: <a href="https://github.com/Merri/mellon.kontu.me" hreflang="en">GitHub</a> | <a
			href="https://mellon-test.kontu.me">Testiympäristö</a>
	</p>
</footer>
<style>
	footer {
		background-color: var(--bg-light-color);
		background-image:
			linear-gradient(to right, transparent, var(--border-color) 50%, transparent),
			radial-gradient(circle at 50%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
		background-position: center top, center -50%;
		background-size: 100% 1px, 100% 100%;
		box-shadow: -140rem 0 0 var(--bg-light-color), -70rem 0 0 var(--bg-light-color), 70rem 0 0 var(--bg-light-color), 140rem 0 0 var(--bg-light-color);
		font-size: 0.875rem;
		margin-block-start: 2rem;
		padding: 1rem;
		position: relative;
		text-align: center;
	}
</style>
