---

---

<header>
	<img loading="lazy" alt="" aria-hidden="true" height="73" width="73" src="/assets/2018-07-14_tengwa_mellon.png" />
	Mellon
</header>
<nav>
	<ul>
		<li><a href="/">Etusivu</a></li>
		<li><a href="/meetups">Miitit</a></li>
		<li><a href="/places">Miittipaikat</a></li>
		<li><a href="/profile">Omat tiedot</a></li>
	</ul>
</nav>
<style>
	header {
		border-bottom: 6px double #694916;
		font-family: var(--font-serif);
		font-size: 3.75rem;
		font-weight: bold;
		text-align: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0 0.75rem;
		margin: 0;
	}

	li {
		display: inline;
	}

	nav a {
		display: block;
		padding: 0.5rem;
	}
</style>
