.toggle:focus-visible + span {
	outline: 3px solid var(--focus-color);
	outline-offset: 3px;
	position: relative;
}

.toggle {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

.toggle + span {
	--border-size: 0.125rem;
	--shadow-draw-area: 0.25rem;
	--toggle-size: 2.5rem;
	--circle-inset: calc(var(--border-size) + var(--shadow-draw-area));
	--circle-size: calc(var(--toggle-size) - var(--border-size) * 2);
	--border-radius: calc((var(--toggle-size) + var(--shadow-draw-area)) / 2);
	--toggle-shadow-color: rgba(0, 0, 0, 0.25);

	align-items: center;
	background-clip: content-box;
	border: 0;
	border-radius: var(--border-radius);
	box-sizing: content-box;
	contain: content;
	cursor: pointer;
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	font-family: inherit;
	font-size: 1rem;
	gap: 0.5rem;
	height: var(--toggle-size);
	line-height: 1;
	margin: var(--shadow-draw-area * -1);
	padding: var(--shadow-draw-area);
	position: relative;
	transition: background-color 125ms ease-in-out, color 125ms ease-in-out;
	user-select: none;
	vertical-align: middle;
	width: 6rem;
	white-space: nowrap;
}

.toggle:focus + span {
	outline-offset: -1px;
}

.toggle + span::before {
	background-image: url('/assets/noise.png');
	background-repeat: repeat;
	border: thin solid rgba(0, 0, 0, 0.25);
	border-radius: inherit;
	box-shadow: inset 0 1px 0.5rem rgba(0, 0, 0, 0.125);
	content: '';
	inset: 3px;
	opacity: 0.375;
	position: absolute;
	z-index: 1;
}

.toggle + span::after {
	background-color: var(--bg-light-color-alt);
	background-image: radial-gradient(circle at 50%, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
	background-position: 50% 100%;
	background-size: 100% 150%;
	border-radius: 50%;
	box-shadow: 0 3px 6px var(--toggle-shadow-color), inset 0 -3px 6px var(--bg-light-color);
	content: '';
	inset: var(--circle-inset);
	pointer-events: none;
	position: absolute;
	height: var(--circle-size);
	width: var(--circle-size);
	transition: left 125ms ease-in-out;
	z-index: 2;
}

.toggle + span > * {
	display: inline-flex;
	justify-content: center;
	min-width: 2rem;
	pointer-events: none;
	transform: translateX(0);
	transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}

.toggle:not(:checked) + span {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.0625),
		transparent calc(100% - 0.75rem),
		rgba(0, 0, 0, 0.03125) 100%
	);
	color: var(--text-color);
	-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 0.5rem rgba(0, 0, 0, 0.25);
}

.toggle:not(:checked) + span > *:first-child {
	opacity: 0;
	transform: translateX(var(--circle-size));
}

.toggle:not(:checked) + span > *:last-child {
	transform: translateX(-0.75rem);
}

.toggle:checked + span {
	background-color: var(--link-color);
	background-image: linear-gradient(rgba(0, 0, 0, 0.125), transparent);
	color: white;
	-webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 0.5rem black;
}

.toggle:checked + span::after {
	left: calc(100% - 2.625rem);
}

.toggle:checked + span > *:first-child {
	transform: translateX(0.75rem);
}

.toggle:checked + span > *:last-child {
	opacity: 0;
	transform: translateX(calc(var(--circle-size) * -1));
}

.toggle:disabled + span {
	background-color: #bbb;
	color: white;
	cursor: not-allowed;
}
